<!DOCTYPE html>
<html>

<head>
    <title>DonateHub</title>
</head>

<body>

<h1>
Welcome to DonateHub
</h1>


<h2>
Active Campaigns
</h2>
    {% for campaign in campaigns%}
    <div>
        <h3>{{campaign.title}}</h3>
        <p>{{ campaign.description }}</p>
        <p>Category:{{ campaign.category }}</p>
        <p>Category:{{campaign.category}}</p>
        <p>Goal:{{campaign.goal_amount}}</p>
        <p>Raised:{{campaign.raised_amount}}</p>
        <a href="{% url 'campaign_detail' campaign.id %}">View Details</a>
    </div>
    <hr>
    {% empty %}
    <p>No Campaign Available</p>
    {% endfor %}
</body>
</html>