{% extends 'base.html' %}

{% load static  %}

{% block title %}
{{ campaign.title }}
{% endblock %}

{% block content %}

<div class="row">

    <!-- Campaign Image -->
    <div class="col-lg-6 mb-4">

        {% if campaign.image %} 
            <img src="{{ campaign.image.url }}"
                 class="img-fluid rounded shadow"
                 alt="{{ campaign.title }}">
                
        {% elif campaign.category == "MEDICAL" %} 
            <img src="{% static 'images/medical.png' %}"
                 class="img-fluid rounded shadow"
                 alt="{{ campaign.title }}">

        {% elif campaign.category == "DISASTER" %} 
            <img src="{% static 'images/disaster.png' %}"
                 class="img-fluid rounded shadow"
                 alt="{{ campaign.title }}">

        {% elif campaign.category == "EDUCATION" %} 
            <img src="{% static 'images/education.png' %}"
                 class="img-fluid rounded shadow"
                 alt="{{ campaign.title }}">

        {% elif campaign.category == "FOOD" %} 
            <img src="{% static 'images/food.png' %}"
                 class="img-fluid rounded shadow"
                 alt="{{ campaign.title }}">

        
        {% else %}
            <img src="{% static 'images/other.png' %}"
                 class="img-fluid rounded shadow"
                 alt="{{ campaign.title }}">
        {% endif %}

    </div>

    <!-- Campaign Details -->
    <div class="col-lg-6">

        <span class="badge bg-success mb-2">
            {{ campaign.category }}
        </span>

        <h2>{{ campaign.title }}</h2>

        <p class="text-muted">
            {{ campaign.description }}
        </p>

        <hr>

        <h5>Goal Amount</h5>
        <p>₹{{ campaign.goal_amount }}</p>

        <h5>Raised Amount</h5>
        <p>₹{{ campaign.raised_amount }}</p>

        <h5>Remaining Amount</h5>
        <p class="text-danger">
            ₹{{ remaining_amount }}
        </p>
        <h5>Created By</h5>
        <p>{{ campaign.ngo.username }}</p>

        {% if campaign.status == "COMPLETED" %}

        <div class="alert alert-success">
            <h5 class="mb-1">Goal Achieved</h5>
            <p class="mb-0">
                This campaign has reached its funding goal.
            </p>
        </div>
        <button class="btn btn-success btn-lg" disabled>Goal Achieved</button>
        {% else %}

        <a href="{% url 'donate' campaign.id %}"
           class="btn btn-success btn-lg">
            Donate Now
        </a>
        {% endif %}
    </div>

</div>

{% endblock %}