<!DOCTYPE html>
<html>

    <head>
        <title>My Campaigns</title>
    </head>

    <body>
        <h1>My Campaigns</h1>
        <table border="1">
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Goal</th>
            <th>Raised</th>
            <th>Action</th>

        </tr>
            {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.title }}</td>
                <td>{{ campaign.status }}</td>
                <td>{{ campaign.goal_amount }}</td>
                <td>{{ campaign.raised_amount }}</td>
                <td><a href="#">Edit</a>
                    <a href="#">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No Campaign Found</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>