{% extends 'base.html' %}

{% block title %}NGO Dashboard{% endblock %}

{% block content %}

<div class="container">

    <div class="mb-4">
        <h2>Welcome, {{ request.user.username }}</h2>
        <p class="text-muted">
            Manage your campaigns and track donations.
        </p>
    </div>

    <div class="row g-3 mb-4">

        <div class="col-md-3">
            <div class="card text-center shadow-sm">
                <div class="card-body">
                    <h5>Total Campaigns</h5>
                    <h2>{{ total_campaigns }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm border-success">
                <div class="card-body">
                    <h5>Approved</h5>
                    <h2 class="text-success">{{ approved_campaigns }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm border-warning">
                <div class="card-body">
                    <h5>Pending</h5>
                    <h2 class="text-warning">{{ pending_campaigns }}</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center shadow-sm border-primary">
                <div class="card-body">
                    <h5>Total Donations</h5>
                    <h2 class="text-primary">{{ total_donations }}</h2>
                </div>
            </div>
        </div>

    </div>

    <div class="card shadow">
        <div class="card-header">
            <h4 class="mb-0">Quick Actions</h4>
        </div>

        <div class="list-group list-group-flush">

            <a href="{% url 'create_campaign' %}" class="list-group-item list-group-item-action">
                ➕ Create Campaign
            </a>

            <a href="{% url 'my_campaigns' %}" class="list-group-item list-group-item-action">
                📋 My Campaigns
            </a>

            <a href="{% url 'my_donations' %}" class="list-group-item list-group-item-action">
                 💝 My Donations
            </a>

            <a href="#" class="list-group-item list-group-item-action">
                📊 Donation Reports
            </a>

            <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">
                👤 Profile
            </a>

            <a href="{% url 'logout' %}" class="list-group-item list-group-item-action text-danger">
                🚪 Logout
            </a>

        </div>
    </div>

</div>

{% endblock %}